.custom-bg {
  background-color: rgba(2, 26, 78, 0.8);
}

.number-achieve-cl {
  color: #e4c800;
  font-weight: bold;
  font-size: 66px;
  margin-bottom: 30px;
}

.title-achieve-cl {
  color: #e4c800;
  font-size: 24px;
}

.opensans-font {
  font-family: "Open Sans", sans-serif;
}

.hover-pointer {
  cursor: pointer;
}