// Variables 
$dark: #021a4e;

// Underline effect for navbar items 
.navbar-nav .nav-link {
    color: white;
    position: relative;
    text-decoration: none;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: yellow;
    transition: width 0.25s ease-out, left 0.25s ease-out;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}
.navbar-nav .nav-link.active::after {
    width: 100%;
    left: 0;
}

// icons color
.navbar-nav .nav-link.fab,
.navbar-nav .nav-link.fas {
    color: grey !important; 
}

// font-family to nav-links but not icons 
.navbar-nav .nav-link:not(.fab):not(.fas) {
    font-family: 'Open Sans', sans-serif;
}

// Offcanvas navbar items 
.offcanvas-body .nav-link {
    color: $dark !important; // other items 
    position: relative;
    text-decoration: none;
    margin-right: 8px;
}

// Dark color border bottom for items 
.offcanvas-body .nav-link::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $dark; 
    transition: width 0.25s ease-out, left 0.25s ease-out, background-color 0.3s ease-out; 
    margin-bottom: 4px;
}

// Hover effect 
.offcanvas-body .nav-link:hover::after {
    width: 100%; 
    background-color: yellow; 
}

// Adjust the active state as needed 
.offcanvas-body .nav-link.active::after {
    width: 100%;
    background-color: yellow; 
}

// Icons color and hover
.navbar-nav .nav-link.fab,
.navbar-nav .nav-link.fas {
    transition: transform 0.3s ease; 
}

// Scale up the icon on hover
.navbar-nav .nav-link.fab:hover,
.navbar-nav .nav-link.fas:hover {
    transform: scale(1.5);
}

// Remove underline for icons 
.navbar-nav .nav-link.fab::after,
.navbar-nav .nav-link.fas::after {
    display: none;
}

// Search Form 
#searchForm {
    transition: all 0.5s ease-in-out;
    max-width: 0;
    overflow: hidden;
}

#searchForm.show {
    max-width: 143px;
}
