$dark: #021a4e;
$primary:#4a4a4a;
$numCol:#e4c800;
$spacer: 1rem!default;
$spacers: (
    6: ($spacer * 0.625), //10px 
    7: $spacer * 0.8125, //13px 
    8: ($spacer * 1.4375), //23px 
    9: ($spacer * 2.5), //40px 
    10: ($spacer * 9.437), //151px 
    11: ($spacer * 10.125), //162px 
    12: ($spacer * 0.875), //14px
    13: $spacer * 6.875, // 110px
    14: $spacer * 5, // 80px 
    15: $spacer * 1.875, // 30px
    16: $spacer * 1.875, // 30px 
    17: $spacer * 1.15625, // 18.5px
    18: $spacer * 0.90625, // 14.5px
    19: $spacer * 1.8125, // 29px
    20: $spacer * 1, // 16px
    21: $spacer * 1.25, // 20px
    22:$spacer * 5, // 80px 
    23:$spacer *11.3125, //181px 
    24:$spacer*0.9375, // 15px
    25:$spacer*18.375,//294px
    26:$spacer*4.375, // 70px
    27:$spacer*7.5,// 120px
    28:$spacer*3.75,//60px
    29:$spacer*0.75,//12px 
) !default;
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.news-title {
    position: relative;
    display: inline-block;
    padding-bottom: 3px; 
    font-family: 'Open Sans', sans-serif;
}
.news-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: $dark;
    
}

.underline-title {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
}

.underline-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: $dark; 
}
  
.opensans-font{
    font-family: 'Open Sans', sans-serif;
}
@import "../node_modules/bootstrap/scss/bootstrap";



